/* CSS declarations go here */

body, html, .beacon {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    font-size: 100px;
    text-align: center;
}

.Europa {
    background-color: #a00;
    color: white;
}

.Amerika {
    background-color: #00a;
    color: white;
}

.Azië {
    background-color: #0a0;
    color: white;
}

.allRegions {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
